@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap');

:root {
  --primary: rgb(80, 80, 80);
  --secondary: blue;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Assistant', sans-serif;
  font-size: 3.5rem;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  min-width: 570px;
  height: 20px;
  font-size: 1rem;
  font-weight: 100;
}

nav a {
  text-decoration: none;
  color: var(--primary);
}

.menu-item:hover {
  border-bottom: 2px solid var(--secondary); 
  cursor: pointer;
}

.title:hover {
  cursor: pointer;
}

.hero {
  height: auto;
  max-width: 990px;
  margin: auto;
}

.hero img {
  max-height: 600px;
  width: 100%;
  object-fit: contain;
}

.grid-container {
  width: 100vw;
  max-width: 1080px;
}

.grid {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 500px);
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.grid-item img {
  width: 500px;
}